<div class="header">
  <p class="item"> <%= link_to 'Tasks', tasks_path %> </p>
  <p class="item"> <%= link_to 'Completed tasks', completed_tasks_path %> </p>
  <p class="item"> <%= link_to 'Favourite tasks', favourite_tasks_path %> </p>
</div>